.header {
    display: flex;
    justify-content: center;
}

.headerlink-title {
    color: black;
    text-decoration: none;
}


.headerlink-dot {
    opacity: 0;
    transition: opacity 200ms linear;
    text-align: center;
    margin-top: -0.5rem;
    
}

.headerlink-title:hover .headerlink-dot {
    opacity: 1;
}

.headerlink-dot-active {
    text-align: center;
    margin-top: -0.5rem;
}

.headerlink-no-link {
    pointer-events: none;
}