.matrix-calculation{
    border: black 1px solid;
    border-radius: 1%;
    margin: auto;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 5%;
}

.calculations-container{
    text-align: center;
}

@media (max-width: 768px) {
    .matrix-calculation{
        margin: 3% auto;
    }
}
