.matrix-container {
  display: inline-grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  grid-template-areas:
    ". player2"
    "player1 matrixTable"
    ". calculate-button-container";
  gap: 5px;
}

.player1 {
  grid-area: player1;
  display: flex;
  justify-content:right;
  align-items: center;
}

.player2 {
  grid-area: player2;
}

.table-header {
  grid-area: table-header;
}

.matrixTable {
  grid-area: matrixTable;
}

.calculate-button-container{
  grid-area: calculate-button-container;
  display:flex;
  justify-content: right;
}

.calculate-button{
  
}


table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
background-color: #009879;
color: #ffffff;
}

th,td {
  padding: 12px 15px;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}


.add-row-btn,
.add-col-btn {
  background-color: lightblue;
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.remove-row-btn,
.remove-col-btn {
  background-color: lightcoral;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


.calculate-button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.calculate-button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.calculate-button:focus {
  border-color: #4285f4;
  outline: none;
}